body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8f6;
  color: #333;
}


.main-container {
  padding: 100px;
  margin: 0 auto;
  padding: 20px;
}


header {
  text-align: center;
  background-color: #f8bbd0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: #333;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

section {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

h2 {
  color: #c2185b;
  border-left: 4px solid #c2185b;
  padding-left: 10px;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

a {
  color: #ab47bc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  background-color: #f8bbd0;
  border-radius: 0 0 10px 10px;
  color: #333;
}

.galeria {
  background-color: #fce4ec;
  border-radius: 10px;
  text-align: center;
  padding: 30px 50px;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  padding: 30px 40px;
}

.collage img {
  width: 250px;           /* ancho*/
  height: 180px;          /*alto */
  object-fit: cover;
  border-radius: 20px;    /* bordes */
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.collage img:hover {
  transform: scale(1.05); /* efecto, mouse */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

}
.foto3 {
  margin-top: 20px;
  padding: 30px 40px;
}
.cabecera {
  position: relative;
  text-align: center;
  padding-bottom: 80px; 
}

.banner-fondo {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 360px; 
  width: 100%;
  border-radius: 0 0 50% 50%;


.foto-central {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
  position: absolute;
  top: 280px; 
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



